body{
   background-color: "#f0f4fc";
}

.nav-logo{
width: 15rem;
margin: 10px;
}

.body-logo{
margin-left: auto;
margin-right: auto;
height: 10rem;
width: 10rem;
margin-bottom: 1rem;
}

.stud-info{
   margin-top: 30px;
   margin-left: 40px;
   margin-right: 40px;
}
